<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'user_page.html' %}
    {% load static %}
    <meta charset="UTF-8">
    {% block name %}
        <title>Изменение данных</title>
    {% endblock %}
</head>
<body>

{% block something %}

    <h1></h1>
    <h1></h1>
    <div class="container">
<div class="row flow-offset-1">


            {% for i in anime %}
                <div class="col-xs-6 col-md-4" style="width: 18rem;">
                    <img src="{{ i.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <a href="{% url 'anime_page' i.pk %}" class="btn btn-primary">Посмотреть</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
</body>
</html>